.sign-up-box {
  background: $card-background;
  box-shadow: $card-shadow;
  padding: $spacer;

  &--aside {
    text-align: center;
    .wrapper {
      margin: 0;
      padding: 0;
    }
    .sign-up-box__heading {
      font-size: $font-size-beta;
    }
  }

  &--big {
    margin-top: $spacer*3;
    margin-bottom: $spacer*3;
    padding: $spacer $spacer*2;

    .sign-up-box__heading {
      font-size: $font-size-beta;

      @include at-least(medium) {
        font-size: $font-size-kilo;
      }
    }

    .sign-up__img {
      display: inline-block;
      float: none;

      @include at-least(small) {
        display: block;
        float: right;
      }

      img {
        max-width: 15rem;
      }
    }

    .sign-up-box__list {
      font-size: $font-size-gamma;
    }
  }
}

.sign-up-box__img {
  position: relative;
  display: none;
  clear: both;
  float: none;
}

.sign-up-box__content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include at-least(medium) {
    margin-left: rem-calc(64);
    flex-direction: row;
  }

}

.sign-up-box__btn {
  margin-bottom: $spacer;
}

.sign-up-box__heading {
  color: $white;
}

.sign-up-box__list {
  text-align: left;
  padding-left: 0;
  margin-right: 0;
  font-size: $font-size-delta;

  > li {
    list-style: none;
    margin: 0 auto rem-calc(10) rem-calc(35);
    position: relative;
    min-height: rem-calc(30);
    color: $white;

    &::before {
      font-family: 'grafana-icons';
      content: "\e603"; // .icon-gf-check-alt
      color: $success-color;
      font-size: 160%;
      margin-left: rem-calc(-40);
      position: absolute;
      top: -6px;
    }
  }
}

