// ==========================================================================
//
// Community section
// ==========================================================================

.newsletter-signup {
    text-align:center;

    h3 {
    	font-size: $font-size-alpha;
    	font-style: italic;
        font-weight: 400
    }
}

.box-divider {
    border-right: 1px solid $primary-color;
  -moz-border-image: -moz-$orange-gradient;
  -webkit-border-image: -webkit-$orange-gradient;
  border-image: $orange-gradient;
  border-image-slice: 1;
}

.social-container {
  background: url('../../static/img/polygon_texture_black.jpg') 0 0 repeat;
  background-size: cover;
  padding: rem-calc(30 0);
  box-shadow: $page-section-with-bg-pattern-shadow;

  // a bit hacky
  .social{
    margin-bottom: 0;
  }

  .social__logo {
    background: transparent;
    box-shadow: none;
  }
}