.edit-dashboard-logo {
  figure {
    margin: 0;
  }
}

.edit-dashboard-logo--container {
  background-color: lighten($dark-gray, 10%);
  margin-right: rem-calc(30);
  margin-bottom: 3px;
  padding: 5px 3px 0 3px;
  height: 110px;
  vertical-align: middle;
}

.edit-dashboard-readme__preview {
  min-height: rem-calc(168);
}

.edit-dashboard--flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-dashboard--delete {
  color: $dark-orange;
  float: right;
}

.delete-confirm-link__copy {
  margin-right: rem-calc(15);
}

.delete-confirm-link__cancel {
  margin-left: rem-calc(10);
}
