// ==========================================================================
// GET GRAFANA PAGE
// ==========================================================================

.get-grafana--download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem-calc(30);
  padding-top: rem-calc(20);
  
  h2 {
    font-weight: 400;
    margin-bottom: 0;
    color: $white;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: rem-calc(6);

    &:last-of-type {
      margin-bottom: rem-calc(60);
    }
    &.aside {
      font-size: 80%;
      margin-bottom: rem-calc(37);
    }
  }
}

.get-grafana--icon {
  width: 100px;
}

ul.get-grafana--list {
  padding-left: rem-calc(32);
  width: rem-calc(350);

  @include at-least(medium) {
    min-height: rem-calc(130);
  }

  li {
    list-style: none;
    margin: 0 auto rem-calc(10) rem-calc(30);
    position: relative;
    min-height: rem-calc(20);
    text-align: left;
  }
}

ul li.get-grafana--list__last {
  margin-top: rem-calc(25);
}

ul.get-grafana--list__below-button {
  padding-left: rem-calc(32);
  width: rem-calc(350);
  margin-top: rem-calc(40);
  margin-bottom: 0;
  li {
    list-style: none;
    margin: 0 auto rem-calc(10) rem-calc(30);
    position: relative;
    min-height: rem-calc(20);
  }
}

li.get-grafana--list {
  &__check::before {
    font-family: 'grafana-icons';
    content: "\e603"; // .icon-gf-check-alt
    color: $success-color;
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
  }

  &__support::before {
    font-family: 'FontAwesome';
    content: "\f1cd"; // .icon-gf-check-alt
    color: $primary-color;
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
    left: 3px;
  }
}
