// Pricing Cards
// -------------------------------------------------------------------------

.price-options {
  display: flex;
  flex-wrap: wrap;

  @include at-least(medium) {
    flex-wrap: nowrap;
    flex: 1 1 33.3333%;
  }
}

.price-option {
  position: relative;
  flex-grow: 1;
  background: $card-background;
  box-shadow: $card-shadow;
  padding: $spacer*2;
  padding-bottom: rem-calc(80);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $spacer*2;
  border-radius: 4px;

  @include at-least(medium) {
    margin: 0 $spacer*1;
    width: 33.3333%;
  }
}

.price-option__heading {
  @extend .h4;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  color: $text-color-muted;
}

.price-option__list {
  padding-left: rem-calc(16);
  max-width: rem-calc(400);
  min-width: rem-calc(180);
  color: $white;
}

.price-option__list-item {
  list-style: none;
  margin: 0 auto rem-calc(10) rem-calc(30);
  position: relative;
  min-height: rem-calc(20);

  @include at-least(medium) {
    width: rem-calc(225);
  }

  &--check::before {
    font-family: 'grafana-icons';
    content: "\e603"; // .icon-gf-check-alt
    color: $success-color;
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
  }

  &--users::before {
    font-family: 'grafana-icons';
    content: "\e622"; // .icon-gf-users
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -6px;
    left: 3px;
  }

  &--dashboards::before {
    font-family: 'grafana-icons';
    content: "\e606"; // .icon-gf-dashboard
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
  }

  &--rebuilds::before {
    font-family: 'grafana-icons';
    content: "\e626"; // .icon-gf-stopwatch
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
    left: 2px;
  }

  &--support::before {
    font-family: 'FontAwesome';
    content: "\f1cd"; // .icon-gf-check-alt
    color: $primary-color;
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
    left: 4px;
  }
  &--prem-plugins::before {
    font-family: 'grafana-icons';
    content: "\e902"; // .icon-prem_plugin
    color: $primary-color;
    font-size: 130%;
    margin-left: rem-calc(-34);
    position: absolute;
    top: -4px;
    left: 2px;
  }
}

.price-option__support-section {
  min-height: rem-calc(64);
}

.price-option__price {
  text-align: center;
  font-size: $font-size-giga;
  color: $white;
  font-style: italic;
  font-weight: 700;
  padding: $spacer 0;

  p {
    font-size: $font-size-delta;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  >.strike {
    font-weight: 400;
    color: $gray;
    position: relative;
    display: inline-block;
  }
  >.strike::before, .strike::after {
    content: '';
    border-bottom: 2px solid $gray;
    width: 100%;
    position: absolute;
    right: 0;
    top: 45%;
  }

  >.strike::before {
    transform: skewY(15deg);
  }

  >.strike::after {
    transform: skewY(-15deg);
  }

  small {
    font-size: 50%;
    font-weight: normal;

    &.currency {
      vertical-align: super;
    }
    &.currency--strike {
      vertical-align: super;
      color: $gray;
      font-weight: 300;
    }
  }
}

.price-option__price__period {
  font-size: $font-size-alpha;
  display: inline-block;
}

.price-option__cta {
  text-align: center;
  position: absolute;
  bottom: rem-calc(20);
}

.hosted-grafana-try-banner {
  text-align: center;

  span  {
    font-size: $font-size-alpha;
    color: $white;
    margin-right: rem-calc(20);
  }

  b {
    color: $primary-color;
  }
}
