// ==========================================================================
// THE PLATFORM (THIS IS THE HOSTING SECTION, BUT THERE IS AN EXISTING PAGE
// CALLED HOSTING. ONCE WE DON'T NEED ANY OF THOSE STYLES, WE'LL OVERWRITE)
// ==========================================================================

.debug {
  border: 1px solid red;
}

  .info-box {
  	position: relative;
    top: 50px;
    height: auto;
    overflow: hidden;
    font-size: 12px;
    color: $off-white2;
    margin-bottom: rem-calc(80);
    border: 1px solid $primary-color;
    -moz-border-image: -moz-$orange-gradient;
    -webkit-border-image: -webkit-$orange-gradient;
    border-image: $orange-gradient;
    border-image-slice: 1;
    background-color: rgba(0,0,0,0.4);
    border-radius: rem-calc(4);

    h3 {
    	font-size: $font-size-gamma;
    	font-style: italic;
    }
  }

.question-box {
}

.question-box__icon {
    float: left;

    @include at-least (small) {
        padding-top: rem-calc(10);
    }
}

.question-box__copy {
    margin-left: rem-calc(115);
}