// ==========================================================================
// SUPPORT PLANS PAGE
// Author note: These styles & the corresponding support page was written
// under severe time constraints and breaks a lot of conventions found
// elsewhere. Before talking smack though, judge not lest ye be judged. -MST
// ==========================================================================


table.support-table {
  border: none;
  border-collapse: collapse;
  font-size: 90%;
  font-weight: 400;
  th {
    text-align: center;
  }
  th.large {
    font-size: 150%;
    background-color: #2F2F2F;
    border-top: 3px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    padding: 20px 0;
  }
  th.blank {
    background-color: transparent;
  }
  th.sec {
    color: #fff;
    font-size: 125%;
    padding-bottom: 1rem;
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: rem-calc(1);
      background: $orange-gradient;
      content: '';
    }
  }

  th.sec-comm {
    color: #fff;
    font-size: 125%;
    padding-bottom: 1rem;
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: rem-calc(1);
      background: $blue-gradient;
      content: '';
    }
  }

  td {
    background-color: $dark-gray;
    text-align: center;
    font-weight: 700;
    border: 1px solid $dark-gray;
    color: $white;
    height: 60px;
  }
  td.sidebar {
    background-color: #2F2F2F;
    border-left: 1px solid $dark-gray;
    border-right: 3px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    width: 150px;
    text-align: left;
    font-size: 85%;
    padding: 15px;
  }

  td.dev {
    font-weight: 300;
    background-color: #2F2F2F;
    border-left: 2px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    .support-text {
      font-weight: 300;
      color: #04a64d;
      margin-top: 8px;
    }
  }
  td.prd {
    font-weight: 300;
    background-color: #2F2F2F;
    border-left: 2px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    .support-text {
      color: #f79622;
      margin-top: 8px;
    }
  }
  td.pro {
    font-weight: 300;
    background-color: #2F2F2F;
    border-left: 2px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    .support-text {
      color: #f79622;
      margin-top: 8px;
    }
  }
  td.ent {
    font-weight: 300;
    background-color: #2F2F2F;
    border-left: 2px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    .support-text {
      color: #04a64d;
      margin-top: 8px;
    }
  }

  td {
    img {
      display: block;
      margin: 20px auto 0 auto;
    }
  }

  p.small {
    font-weight: 300;
  }
}

.dev-col {
  width: 200px;
  border: 2px solid $dark-gray;
  height: 50px;
  color: #fff;
  background-color: #2F2F2F;
}

.prod-col {
  width: 200px;
  border: 2px solid $dark-gray;
  height: 50px;
  color: #fff;
  background-color: #2F2F2F;
}

.pro-col {
  width: 200px;
  border: 2px solid $dark-gray;
  height: 50px;
  color: #fff;
  background-color: #2F2F2F;
}

.enterprise-col {
  width: 200px;
  border: 2px solid $dark-gray;
  height: 50px;
  color: #fff;
  background-color: #2F2F2F;
}

.support-plan-note {
  display: block;
  margin-bottom: $spacer * 3;
  font-size: 90%;
  strong {
  color: $white;
  }
}

.support-plan--check {
  color: $success-color;
  font-size: 140%;
}

.support-plan--x {
  color: $alert-color;
  font-size: 140%;
}

.support-plan-price--container {
  margin: rem-calc(20 0);
  min-height: rem-calc(96);
}

.support-plan-CTA {
  margin-bottom: rem-calc(32);
}

.support-plan-price {
  color: $white;
  display: block;
  margin: rem-calc(0 0 5 0);
  font-size: $font-size-mega;
  font-style: italic;
  weight: 700;

  small {
    font-size: 50%;
    font-weight: normal;

    &.currency {
      vertical-align: super;
    }
  }
  &--note{
    display: block;
    color: $light-gray;
    font-size: $font-size-delta;
    margin-bottom: rem-calc(10);
  }
}
