// ==========================================================================
// TRAINING PAGE
// ==========================================================================

.card-container--training {
  h5 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: $font-size-zeta;
    font-weight: 400;
  }
}
