// ==========================================================================
// Z-INDEX
// ==========================================================================



// Z-Index scale
// ---------------------------------------------------------------------------

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;



// Z-Index applications
// ---------------------------------------------------------------------------

// 100
.plugin-spotlight__badge {
  z-index: $z-index-1;
}

// 400
.page-header,
.site-nav-canvas {
  z-index: $z-index-4;
}

// 500
.page-header > .row,
.site-nav__toggle {
  z-index: $z-index-5;
}

// 600
.page-submenu--sticky,
.page-subnav--sticky {
  z-index: $z-index-6;
}
