

.max-width { width: 100%; }
.width-auto { width: auto; }

// widths
@for $i from 1 through 60 {
  .width-#{$i} {
    width: ($spacer * $i) - $form-margin !important;
  }
}

@for $i from 1 through 60 {
  .max-width-#{$i} {
    max-width: ($spacer * $i) - $form-margin !important;
    flex-grow: 1;
  }
}
