/* Standard Row */
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: ($grid-padding * 0.5);
  padding: 0;
}

.row + .row {
  margin-top: ($grid-padding * -0.5);
}

/* No Gutters */
.row--no-gutters,
.row + .row--no-gutters {
  margin: 0;
}

/* Large (2x) Gutters */
.row--lg-gutters {
  margin: $grid-padding;
}

.row + .row--lg-gutters {
  margin-top: ($grid-padding * -1);
}

/* Only Internal Gutters */
.row--internal-gutters {
  margin: ($grid-padding * -1) 0 0 ($grid-padding * -1);
}

.row--internal-gutters.row--lg-gutters {
  margin: ($grid-padding * -2) 0 0 ($grid-padding * -2);
}

/* No Side Gutters */
.row--no-side-gutters {
  margin-left: ($grid-padding * -1);
  margin-right: 0;
}

.row--no-side-gutters.row--lg-gutters {
  margin-left: ($grid-padding * -2);
}

/* No Bottom Margin */
.row--no-bottom {
  margin: $grid-padding $grid-padding 0 $grid-padding;
}

.row--extra-bottom {
  margin-bottom: ($grid-padding * 2);
}