
.main {
  line-height: 1.6;
}

p {
  margin: 0 0 1rem 0;
  text-rendering: optimizeLegibility;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $black;
  margin-bottom: 1.25rem;
  table-layout: auto;

  th {
    background: $darker-gray2;
    text-align: left;
    padding: .4rem .625rem .4rem;
  }

  td  {
    padding: .4625rem .625rem;
    border-right: 1px solid $darker-gray2;
    border-bottom: 1px solid $darker-gray2;

    &:first-child {
      white-space: nowrap;
    }
  }

  tr:nth-child(even) {
    td {
      background: $darker-gray;
    }
  }
}


code {
  white-space: nowrap;
  background-color: lighten($body-bg, 4%);
  border-color: $black;
  border-style: solid;
  border-width: 1px;
  color: $blue;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-weight: 400;
  padding: .125rem .3125rem .0625rem;
}

pre,
pre[class*="language-"] {
  background-color: $darker-gray2;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.8rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;

  code {
    padding: 0;
    border: none;
    background-color: transparent;
    color: $text-color;
    font-weight: 100;
    white-space: pre;
    white-space: pre-wrap;
  }
}


@mixin left-brand-border-gradient() {
  border: none;
  border-image: linear-gradient(rgba(255,213,0,1) 0%, rgba(255,68,0,1) 99%, rgba(255,68,0,1) 100%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 2px;
}
