{{ partial "header.html" . }}

<div class="page-letterhead">
	<div class="wrapper">
		<h1 class="page-letterhead__heading">Blog</h1>
		<h2 class="page-letterhead__subheading">
			News, announcements, articles, metrics &amp; monitoring love...
			<a class="blog-rss-link" href="/blog/index.xml" type="application/rss+xml" target="_blank">
				RSS <i class="fa fa-rss"></i>
			</a>
		</h2>
	</div>
</div>

<div class="wrapper">
	<div class="row row--no-gutters">
		<div class="col col--md-9">
			<h4>Latest Article</h4>
			{{ range first 1 .Site.Pages }}
				{{ .Render "li"}}
			{{ end }}
			<hr>
			<br />
			<br />

			<h4>Latest Stable Release</h4>
			{{ range first 1 (where .Site.Taxonomies.categories.Release.Pages "Section" "blog")}}
				{{ .Render "li"}}
			{{ end }}
			<hr>
			<br />
			<br />

			<h4>Other Recent Articles</h4>
			{{ range first 8 (after 1 .Site.Pages) }}
				{{ .Render "li"}}
			{{ end }}
			<hr>
			<br />
			<div class="row row--no-gutters">
				<div class="col col--sm-12">
					<a class="btn btn--outline" href="/blog/">Blog Archive</a>
				</div>
			</div>
			<br />
			<br />
		</div>

		<div class="col col--md-3">
			<div class="blog-aside">
				{{ partial "category_list.html" . }}
				{{ partial "sign-up-aside.html" . }}
			</div>
		</div>
	</div>
</div>


<style>
.page-header-bg {
	background-image: url(/assets/img/header_cover3.png);
}
</style>


{{ partial "footer.html" . }}
