{{ partial "header.html" . }}

{{ $author := index $.Site.Data.authors .Params.author }}

<div class="page-letterhead">
	<div class="wrapper">
		<h1 class="page-letterhead__heading page-letterhead__heading--on-background">{{ .Title }}</h1>
		<h2 class="page-letterhead__subheading">
			Published: {{ .Date.Format "2 Jan 2006" }} by {{ $author.name }}
			<a class="blog-rss-link" href="{{ .RSSLink }}" type="application/rss+xml" target="_blank">
				RSS <i class="fa fa-rss"></i>
			</a>
		</h2>
		<div class="blog-share-buttons">
			<a class="twitter-share-button" data-via="grafana" href="https://twitter.com/share"></a>
			<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
			<script type="IN/Share"></script>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row row--no-gutters">
		<div class="col col--md-9 blog-content">
			{{ .Content }}
		</div>
		<div class="col col--md-3">
			<div class="blog-aside">
				<h5 class="blog-aside__heading">Recent Posts</h5>

				{{ range first 5 .Site.Pages }}
				{{if eq .Section "blog" }}
					<div class="summary">
						<h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
					</div>
					{{ end }}
				{{ end }}

				<hr>

				{{ partial "category_list.html" . }}
			</div>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row row--no-gutters">
		<div class="col col--md-12">
			<!-- {{ partial "disqus.html" . }} -->

			{{ partial "sign-up.html" . }}
		</div>
	</div>
</div>

{{ if isset .Params "cover_image" }}
<style>
.page-letterhead:after {
	background-image: url({{ .Params.cover_image }}) !important;
}
{{ if isset .Params "cover_opacity" }}
.page-letterhead:after {
	opacity: {{ .Params.cover_opacity }} !important;
}
{{ end }}
{{ if isset .Params "cover_blur" }}
.page-letterhead:after {
	-webkit-filter: blur({{ .Params.cover_blur }}) !important;
	-moz-filter: blur({{ .Params.cover_blur }}) !important;
	-o-filter: blur({{ .Params.cover_blur }}) !important;
	-ms-filter: blur({{ .Params.cover_blur }}) !important;
	filter: blur({{ .Params.cover_blur }}) !important;
}
{{ end }}
</style>
{{ end }}

{{ partial "footer.html" . }}

