// ==========================================================================
// BUTTONS
// ==========================================================================



// Default
// ------------------------------------

.btn {
  @include button;
}



// Primary
// ------------------------------------

.btn--primary {
  border-color: $primary-color;
  background-color: $primary-color;
  background: linear-gradient($primary-color 0%, darken($primary-color, 10%) 100%);
  color: $white;

  &:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    background: $primary-color;
    cursor: pointer;
    color: $white;
  }
}

.btn--primary.btn--disabled {
  opacity: .5;
  &:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    background: linear-gradient($primary-color 0%, darken($primary-color, 10%) 100%);
    color: $white;
    opacity: .5;
    cursor: default;
  }
}

.btn--grafanacon {
    border-color: #e3257d;
    background-color: #f46800;
    background: linear-gradient(#e3257d,#bd1864);
    color: #fefefe;
    &:hover {
      border-color: #e3257d;
      background-color: #e3257d;
      background: #e3257d;
      cursor: pointer;
      color: #fefefe;
    }
}

// Secondary
// ------------------------------------

.btn--secondary {
  @include font-smoothing;
  border-color: $blue;
  background: linear-gradient($blue 0%, darken($blue, 5%) 100%);;
  color: $white;


  &:hover {
    opacity: .8;
  }
}

.btn--secondary.btn--disabled {
  opacity: .5;
  &:hover {
    border-color: $blue;
    background-color: $blue;
    background: linear-gradient($blue 0%, darken($blue, 10%) 100%);
    color: $white;
    opacity: .5;
    cursor: default;
  }
}

// Add
// ------------------------------------

.btn--add {
  @include font-smoothing;
  border-color: $alert-online;
  background: linear-gradient($alert-online 0%, darken($alert-online, 6%) 100%);
  color: $white;
  font-weight: 400;
  padding: rem-calc(0 50);

  a {
  color: $white;
  }

  &:hover {
    opacity: .8;
  }
}

.btn--add.btn--disabled {
  opacity: .5;
  &:hover {
    border-color: $alert-online;
    background-color: $alert-online;
    background: linear-gradient($alert-online 0%, darken($alert-online, 6%) 100%);
    color: $white;
    opacity: .5;
    cursor: default;
  }
}

// Delete
// ------------------------------------

.btn--delete {
  @include font-smoothing;
  border-color: $monza;
  background: $monza;
  color: $white;
  font-weight: 400;
  padding: rem-calc(0 50);

  @include at-least(small) {
    padding: rem-calc(0 50);
  }

  &:hover {
    opacity: .8;
  }

  &:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f00d";
  }
}

.btn--delete.btn--disabled {
  opacity: .5;
  &:hover {
    border-color: $monza;
    background-color: $monza;
    background: linear-gradient($monza 0%, darken($monza, 10%) 100%);
    color: $white;
    opacity: .5;
    cursor: default;
  }
}

a.btn--delete {
  color: $white;
}

.btn--delete__confirm-delete {
  &::after{
    width: 0;
    opacity: 0;
    display: inline-block;
    padding-left: rem-calc(5);
    content: "CONFIRM DELETE";
    animation: btn--delete_grow 100ms cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
  }
}

@keyframes btn--delete_grow {
    0%    {width: 0; opacity: 0}
    95%   {opacity: 0}
    100%    {width: 100px; opacity: 1}
}

a.btn--delete__cancel {
  cursor: pointer;
  color: $white;
  font-weight: 400;
}

// Edit
// ------------------------------------

.btn--edit {
  @include font-smoothing;
  border-color: $gray;
  background: $gray;
  color: $white;
  font-weight: 400;
  padding: rem-calc(0 50);

  @include at-least(small) {
    padding: rem-calc(0 100);
  }

  &:hover {
    opacity: .8;
  }

  &:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f044";
  }
}

a.btn--edit {
  color: $white;
}

.btn--download {
  &:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f019";
    margin-right: rem-calc(5);
  }
}

.btn__sidebar {
  margin-bottom: rem-calc(20);
}


// reversed
// ------------------------------------

.btn--reversed {
  border-color: darken($medium-gray, 20%);
  background-color: darken($medium-gray, 20%);
  background: linear-gradient(darken($medium-gray, 20%), darken($medium-gray, 30%) 100%);
  color: $white;

  &:hover {
    border-color: $medium-gray;
    background-color: $medium-gray;
    background: $medium-gray;
    cursor: pointer;
  }
}


// Small
// ------------------------------------

.btn--small {
  height: rem-calc(30);
  padding: rem-calc(0 16);
  font-size: $font-size-epsilon;
  line-height: rem-calc(28);
}


// Large
// ------------------------------------

.btn--large {
  height: rem-calc(50);
  font-size: $font-size-gamma;
  line-height: rem-calc(48);
}

// Hero - for when large just insn't big enough
// ------------------------------------

.btn--hero {
  height: rem-calc(60);
  font-size: $font-size-beta;
  font-weight: bold;
  line-height: rem-calc(60);
}

// Outline -- created mixin for this: _buttons.scss
// ------------------------------------

.btn--outline {
  @include outline-styles($primary-color, #f26529);
}


.download__btn {
  position: absolute;
  bottom: 20px;
  left: rem-calc(96);
  padding: rem-calc(0 30)
}


.btn--outline-light {
  border-color: $white;
  background: transparent;
  color: $white;

  &:hover {
    opacity: .8;
  }
}

.btn--outline-dark {
  border-color: #333333;
  background: transparent;
  color: #333333;

  &:hover {
    opacity: .8;
  }
}

.btn--outline-secondary {
  border-color: $secondary-color;
  background: transparent;
  color: $white;

  &:hover {
    opacity: .8;
  }
}

.btn--outline-secondary__disabled {
  border-color: $secondary-color;
  background: transparent;
  color: $secondary-color;

  &:hover {
    opacity: .8;
  }
}

// Secondary action text links (buttonless buttons)
// ------------------------------------

a.btn--no-outline-secondary {
  border-color: transparent;
  background: transparent;
  color: $secondary-color;

  &:hover {
    opacity: .8;
  }
}

.btn--close {
  float: right;
  border: 0;
  background: 0 0;
  font-size: $font-size-kilo;
  font-weight: 700;
  line-height: 1;
  color: $white;
}

.interior-section.early-access-signup a.btn--outline-secondary {
  color: $secondary-color;
}

// Button spacing when multiple buttons sit next to each other
// ------------------------------------

.btn-row {
  margin-bottom: rem-calc(10);

  .btn {
    margin-right: rem-calc(20);
    margin-bottom: rem-calc(16);
  }
  .btn:last-child {
    margin-right: 0;
  }
}

.btn-row.narrow {
  margin-bottom: 0;
}

.btn-row.tall {
  margin-bottom: rem-calc(40);
}

.btn-inline {
  margin: rem-calc(0 10 10 10);
}

.btn--submitting {
  // TODO
  opacity: 0.7;
}

.btn--sub-text {
  display: block;
  margin-top: rem-calc(20);
  font-size: rem-calc(13);
}

// Saw references to this class, but am not seeing where it lives, so adding here for now. TRW
.vertical-margin {
  margin: ($grid-padding * 2) 0;
}

// Inline Social Button

.inline__social {
  @include hide-text;
  display: inline-block;
  margin-right: rem-calc(10);
  width: 24px;
  height: 24px;
  opacity: 0.6;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
}

.inline__social:hover {
  opacity: 1;
}

.inline__social.twitter {
  background: rgba(0,0,0,0.6) url('../../static/img/icon_twitter.svg') no-repeat center center;
  background-size: 80%;
}

.inline__social.github {
  background: rgba(0,0,0,0.6) url('../../static/img/icon_github.svg') no-repeat center center;
  background-size: 90%;
}

.inline__social.linkedin {
  background: rgba(0,0,0,0.6) url('../../static/img/icon_linkedin.svg') no-repeat center center;
  background-size: 78%;
}
