// ==========================================================================
// EVENTS
// ==========================================================================
.event-list {
  border-left: 1px solid $gray;
}

.event__type {
  text-transform: uppercase;
  font-weight: 100;
  font-size: $font-size-delta;
  color: $off-white2;
  display: block;
  margin-bottom: rem-calc(10);
}

.event__location {
  font-weight: 100;
  font-size: $font-size-delta;
  color: $medium-gray;
}

.event__title {
  margin: 0 auto;
  color: $white;
}

.event__copy {
  //min-height: rem-calc(128);
	b {
		color: $white;
	}

  &--tall {
    min-height: rem-calc(176);
  }
}

.event__margin-bottom {
  margin-bottom: rem-calc(100);
}

.event__past {
  display: block;

  b {
    color: $white;
  }
}

.event {
  .event-img{
    background-color: $darker-gray2;
    border-radius: 50%;
  }
}
