.form {
  margin: 0 auto;
  @include at-least(small) {
    max-width: rem-calc(360);
  }
}

.form--profile {
  @include at-least(small) {
    max-width: rem-calc(760);
  }
}

.form-section {
  margin-bottom: $spacer;
}

.form-section--med {
  margin-bottom: $spacer*2;
}

.form-section--big {
  margin-bottom: $spacer*3.5;
}

.form-group {
  margin-bottom: rem-calc(15px);
  margin-right: rem-calc(15);

  @include at-least(small) {
    max-width: rem-calc(360);
    margin-right: rem-calc(10);
  }
}

.form-group-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  .gf-form-flex {
    flex-grow: 1;
  }
}

.form-group-inline--centered {
  justify-content: center;
}

.form-group-inline--start {
  justify-content: flex-start;
}

.form__label {
  font-size: rem-calc(13);
  font-weight: 600;
  color: $gray;
  display: block;
}

.form__input {
  display: inline-block;
  width: 100%;
  margin-bottom: rem-calc(2);
  border: 1px solid $gray;
  border-radius: rem-calc(4);
  background: $gray 0.625rem 50% no-repeat;
  line-height: rem-calc(24);
  vertical-align: top;
  padding: rem-calc(10);
  color: $white;

  &.input-size-auto { width: auto; }
}

.form__input--tight {
  line-height: normal;
  padding: rem-calc(8);
  border-radius: rem-calc(2);
}

.form__input--file-input-wrapper input[type=file] {
  cursor: pointer;
}
.form__input--logo {
  width: rem-calc(130);
  height: rem-calc(100);
  background-image: url("../../static/img/gf-net-add_image.svg");
  background-position: center center;
  border: 1px solid $gray;
  color: transparent;
  margin-top: 5px;
}

.form__input--logo-edit {
  width: rem-calc(25);
  height: rem-calc(25);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.form__input--screenshot {
  width: rem-calc(130);
  height: rem-calc(100);
  background-image: url("../../static/img/gf-net-add_image.svg");
  background-position: center center;
  border: 1px solid $gray;
  color: transparent;
}

.form__input--max-60 {
  max-width: 60rem;
}

.form__input--full-width-textarea {
  margin-right: 0;
  max-width: none;
}

.form__input--tight-textarea {
  textarea {
    line-height: 1.3;
  }
}

.form__input--narrow {
  width: 8rem;
}

.form__input--hidden {
  display: none;
}

.form__input:focus,
.form__input--focused {
  box-shadow: 0 0 5px $medium-gray;
  border: 1px solid $medium-gray;
  outline-style: none;
  outline-color: transparent;
}

.form__input--tight.form__input--focused{
  box-shadow: 0 0 5px $light-gray;
}

.form__input--valid, .form__input--valid:focus {
  box-shadow: 0 0 10px $success-color;
  border: 1px solid $success-color;
  outline-style: none;
  outline-color: transparent;
}

.form__input--invalid, .form__input--invalid:focus {
  box-shadow: 0 0 10px $alert-color;
  border: 1px solid $alert-color;
  outline-style: none;
  outline-color: transparent;
}

.form__input-error, .form__input-warning, .form__input-success {
  font-size: rem-calc(14);
  // margin-left: rem-calc(5);
  margin-bottom: rem-calc(5);
  text-align: left;
}

.form__input-message-error, .form__input-message-warning, .form__input-message-success {
  font-size: rem-calc(14);
  // margin-left: rem-calc(5);
  margin-bottom: rem-calc(5);
}

.form__input-error, .form__input-message-error {
  color: $alert-color;
}

.form__input-success, .form__input-message-success {
  color: $success-color;
}

.form__input-warning, .form__input-message-warning {
  color: $dark-orange;
}

.form__input-subtext {
  font-size: rem-calc(13);
  text-align: left;
}

.form__input--lowercase {
  text-transform:lowercase;
}

.form__btn {
  width: 100%;
  font-weight: 700;
  margin-top: rem-calc(15);

  @include at-least(small) {
    width: auto;
  }
}

.form-inline-title {
  font-size: $font-size-gamma;
  font-weight: 600;
  margin-bottom: 2px;
  color: $white;
}

.form-inline-title__sub-copy {
  font-size: rem-calc(15);
  color: $white;
  margin-bottom: rem-calc(15);
  display: block;
}

.nice-form {
  label {
    display: block;
    cursor: pointer;

    .radio-overlay, .checkbox-overlay {
      display:inline-block;
      margin: 5px 5px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 12px;
      cursor: pointer;
      vertical-align: text-bottom;
      // box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
      box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px 0px rgba(255, 255, 255, 0.065);
      background: $darker-gray;
      outline: none;
    }

    .checkbox-overlay--black-bg {
      background: $black;
    }

    .checkbox-overlay {
      border-radius: 0;
    }

    input {
        display: none;
    }

    input[type="radio"]:checked + span:before {
      width: 100%;
      height: 100%;
      margin: 0;
      display: block;
      content: "";
      background-position: 0 0;
      background-image: -webkit-radial-gradient(rgba(247,148,29,1) 0%, rgba(247,148,29,1) 15%, rgba(247,148,29,0.3) 28%, rgba(247,148,29,0) 70% );
      background-image: -o-radial-gradient(rgba(247,148,29,1) 0%, rgba(247,148,29,1) 15%, rgba(247,148,29,0.3) 28%, rgba(247,148,29,0) 70% );
      background-image: -moz-radial-gradient(rgba(247,148,29,1) 0%, rgba(247,148,29,1) 15%, rgba(247,148,29,0.3) 28%, rgba(247,148,29,0) 70% );
      background-image: radial-gradient(rgba(247,148,29,1) 0%, rgba(247,148,29,1) 15%, rgba(247,148,29,0.3) 28%, rgba(247,148,29,0) 70% );
      background-repeat: no-repeat;
    }

    input[type="checkbox"]:checked + span:before {
      width: 100%;
      height: 100%;
      margin: 0;
      display: block;
      content: "";
      background-position: 0 0;
      background-image: url("../../static/img/check.svg");
      background-repeat: no-repeat;
    }
  }
}

.icon-form__input--height-match {
  padding: 0.75rem;
}

.email-form__input {
  background: $gray url('../../static/img/icon_email.svg') rem-calc(10) 50% no-repeat;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
}

.search-form__input--tight {
  background: $gray url('../../static/img/icon_search.svg') rem-calc(8) 49% no-repeat;
  padding: rem-calc(8) rem-calc(8) rem-calc(8) 2rem;
  font-size: rem-calc(14);
}

.form__input-messages {
  min-height: 2rem;
  margin-top: 0.6rem;
}

.gnet-card-wrapper {
  .jp-card-front, .jp-card-back {
    background: $darker-gray;
  }
  .jp-card-container {
    margin: 0;
  }
  margin: rem-calc(20) 0;
}

.credit-card-logo-container {
  position: relative;
  background: $black;
  height: 36px;
  width: 60px;
  font: "Helvetica Neue";
  overflow: hidden;

  .jp-card-logo {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  }
}

.form__input-URL--container {
  display: flex;
  align-items: center;
}

.form__submit--success {
  color: $success-color;
}

.form__submit--airplane {
  font-size: $font-size-giga;
  display: block;
  margin-bottom: rem-calc(32);
}
