// =========================================================================
// PLUGIN
// =========================================================================


// Card
// --------------------------------------------------------------------------

.plugin-card__header {
  margin-bottom: rem-calc(35);
}

.plugin-card__name {
  margin: 0 rem-calc(10) 0 0;
  color: $white;
  font-size: rem-calc(24);
  font-style: italic;
  font-weight: 400;

  a {
    color: $white;
    text-decoration: none;
  }
}

.plugin-card__byline {
  margin: 0 0 0.4rem 0;
  color: $light-gray;
  font-size: rem-calc(13);
  font-weight: 400;
}

.plugin-card__byline--edit {
  padding-top: 1rem;
}

.plugin-card__description {
  display: block;
  max-width: rem-calc(600);
  font-size: rem-calc(14);
}

.plugin-card__body > p {
  margin: rem-calc(0 0 40);
  color: $white;
  font-size: rem-calc(14);
}

.plugin-card__header > img {
  border-radius: rem-calc(8);
}

.plugin-card__single-line {
  display: inline-block;
}

.plugin-card__edit-btn {
  margin-left: 1.25rem;
}

.plugin-card__details-container {
  @include at-least(small) {
    display: flex;
    flex: 2 1 auto;
  }
}

.plugin-card__details-container--description {
  flex-grow: 8;
  width: 0;
}

.plugin-card__details-container--ratings {
  flex-grow: 2;
  width: 0;
  color: $white;
  h4 {
    margin-top: rem-calc(9);
    white-space: nowrap;
  }
}

.plugin-card__worldping-signup {
  margin: 0 0 0.2rem $spacer;
}



// Category
// --------------------------------------------------------------------------

.plugin-category {
  margin-top: rem-calc(0);
  color: $medium-gray;
  font-size: rem-calc(11);
  line-height: rem-calc(25);
  font-weight: 400;
  text-align: left;
}

.page-sidebar .plugin-category {
  color: $medium-gray;
  font-size: rem-calc(11);
  line-height: rem-calc(25);
  font-weight: 400;
}

.plugin-category a {
  color: $off-white;
}

.plugin-category__no-margin {
  margin-bottom: 0;
}

.plugin-category__small-margin {
  margin-bottom: 0.4rem;
}

.plugin-category__icon {
  display: inline-block;
  padding: rem-calc(0 10 0 20);
  background-repeat: no-repeat;
  background-position: 0 45%;
  font-weight: 700;
  text-transform: uppercase;
  background-size: 15px;
}

.plugin-category__icon--in-sentence {
  text-transform: none;
  padding: rem-calc(0 0 0 20);
}

.plugin-category__icon.app {
  background-image: url('../../static/img/icon_apps.svg');
}

.plugin-category__icon.page {
  background-image: url('../../static/img/icon_page.svg');
}

.plugin-category__icon.dashboard {
  background-image: url('../../static/img/icon_dashboard.svg');
}

.plugin-category__icon.datasource {
  background-image: url('../../static/img/icon_datasource.svg');
}

.plugin-category__icon.panel {
  background-image: url('../../static/img/icon_panel.svg');
}

.plugin-category__icon.grafana {
  background-image: url('../../static/img/icon_grafana.svg');
}

.plugin-category__icon.collector {
  background-image: url('../../static/img/icon_collector.svg');
}

.plugin-category__icon.verified {
  background-image: url('../../static/img/icon_verified.svg');
  color: $primary-color;
}

.plugin-category__icon.preview {
  background-image: url('/img/icon_pending.svg');
  color: #f27c49;
}

.plugin-category__icon.deprecated {
  color: #f27c49;
  padding: rem-calc(0 10 0 10);
}

// List - Description Section
// --------------------------------------------------------------------------


.plugin-category-description__section {
  margin-bottom: $spacer * 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(135deg, darken($gray, 15%) 0%, $dark-gray 100%);
  box-shadow: -1px -1px 0px 0px rgba(255,255,255,0.1), 1px 1px 0px 0px rgba(0,0,0, 0.3);
  overflow: hidden;
  text-overflow: clip;
}

.plugin-category-description__icon {
  display: inline-block;
  padding: rem-calc(10 10 10 28);
  margin: rem-calc(0 20);
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: 20px;
  font-size: $font-size-delta;
}

.plugin-category-description__icon.app {
  background-image: url('../../static/img/icon_apps.svg');
}

.plugin-category-description__icon.page {
  background-image: url('../../static/img/icon_page.svg');
}

.plugin-category-description__icon.dashboard {
  background-image: url('../../static/img/icon_dashboard.svg');
}

.plugin-category-description__icon.datasource {
  background-image: url('../../static/img/icon_datasource.svg');
}

.plugin-category-description__icon.panel {
  background-image: url('../../static/img/icon_panel.svg');
}

.plugin-category-description__icon.grafana {
  background-image: url('../../static/img/icon_grafana.svg');
}


// Dependencies
// --------------------------------------------------------------------------

.plugin-dependencies {
    margin: 0;
    font-size: rem-calc(14);
  }

// Rating
// --------------------------------------------------------------------------

.plugin-rating {
  display: table;
  width: rem-calc(160);
  height: rem-calc(160);
  border: 1px solid $medium-gray;
  text-align: center;

  @include at-least(medium) {
    float: right;
  }
}

.plugin-rating__body {
  display: table-cell;
  vertical-align: middle;
}

// Text
// --------------------------------------------------------------------------

.plugin-section-header {
  position: relative;
  font-size: $font-size-kilo;
  color: $light-gray;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: rem-calc(1);
    background: $orange-gradient;
    content: '';
  }
}

// Screenshots
// --------------------------------------------------------------------------
.plugin-screenshot {
  margin-top: 0;
  margin-bottom: rem-calc(40);
}

.plugin-screenshot li {
  background-color: lighten($dark-gray, 10%);
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 5px 3px 0 3px;
  height: 110px;
  vertical-align: middle;
}

.plugin-screenshot li:nth-last-child(2) {
  margin-right: 5px;
}

.plugin-screenshot li.plugin-screenshot__add {
  background-color: transparent;
  padding-left: 0;
}

.plugin-section {
  margin-bottom: rem-calc(50);
}

// Installation
// --------------------------------------------------------------------------
.plugin-installation-section {
  margin-bottom: $spacer * 4;
}

.plugin-installation--section-head {
    h2 {
      margin-bottom: rem-calc(5);
    }
    p {
      margin-top: 0;
      color: $medium-gray;
    }
    margin-bottom: $spacer*2;
}

.installation-steps {
  margin-bottom: $spacer * 3;
}

h2 > .installation-number {
  font-weight: 700;
  padding: 3px 9px;
  border: 3px solid $white;
  border-radius:50%;
  margin-right: rem-calc(10);
}

h3 > .installation-number {
  font-weight: 700;
  padding: 0 6px;
  border: 3px solid $white;
  border-radius:50%;
  margin-right: rem-calc(10);
}

.installation-deprecated {
  color: #f27c49;
  margin-bottom: 3rem;
}

.plugin-grafana-menu {
  margin: 0 rem-calc(10);
  padding: 6px 10px;
  font-size: $font-size-gamma;
  display: inline-block;
  cursor: default;
  background-color: #292929;
  border-image: linear-gradient(#ffd500 0%, #ff4400 99%, #ff4400 100%);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px solid transparent;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.plugin-grafana-menu__icon {
  display: inline-block;
  padding: rem-calc(0 10 0 30);
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: 20px;
}

.plugin-grafana-menu__icon.app {
  background-image: url('../../static/img/icon_apps.svg');
}

.plugin-grafana-menu__icon.dashboard {
  background-image: url('../../static/img/icon_dashboard.svg');
}

.plugin-grafana-menu__icon.datasource {
  background-image: url('../../static/img/icon_datasource.svg');
}

.plugin-grafana-enable--btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #689c00;
  background-image: linear-gradient(to bottom, #70a800, #5c8a00);
  background-repeat: repeat-x;
  border-color: #70a800;
  display: inline-block;
  font-weight: normal;
  line-height: .8;
  font-size: .85rem;
  text-align: center;
  cursor: default;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  margin: 0 rem-calc(10);
  border-radius: 2px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

p.inline-paragraph {
  display: inline-block;
}

div.plugin-readme img {
  max-width: 95%;
}

div.plugin-readme code {
  padding: 2px;
}

div.plugin-readme table {
  th {
    border-top: 3px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    background-color: #2F2F2F;
    text-align: center;
    padding: 5px 10px;
  }
  td {
    border-top: 3px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    background-color: #2F2F2F;
    padding: 5px 10px;

  }
}

// Dashboard Pages
// --------------------------------------------------------------------------
.dashboard-datasourceinput__header {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(10)
}

.dashboard-datasourceinput__title {
  text-align: left;
  margin-top: rem-calc(0);
  color: $medium-gray;
  font-size: $font-size-zeta;
  line-height: rem-calc(25);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.dashboard-datasourceinput__image {
  margin-right: rem-calc(10);
}

.dashboard-datasourceinput__image--narrow {
  margin-right: rem-calc(5);
}

.dashboard-datasourceinput__image--middle {
  vertical-align: middle;
}

.dashboard-category__title {
  text-align: left;
  margin-top: rem-calc(0);
  color: $medium-gray;
  font-size: rem-calc(14);
  line-height: rem-calc(25);
  margin-bottom: 0;
  font-weight: 700;
}

// Premium Plugins
// --------------------------------------------------------------------------

.premium-overlay--relative {
  position: relative;
  min-height: rem-calc(650);

  @include at-least(medium) {
    min-height: rem-calc(550);
  }

}

.premium-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: $z-index-5;
}

.premium-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 45px;
}

.premium-diamond {
  width: 45px;
  margin: -5px 15px 0 0 ;
}

.premium-copy {
  color: $white;
  text-align: left;
  p {
    margin-top: 0;
  }
}

.premium-fade {
  filter: blur(5px) opacity(15%);
}
