// ==========================================================================
// SITE NAV
// ==========================================================================


// Page header
// -------------------------------------------------------------------------

.site-nav-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  padding: rem-calc(100 40 40);
  transition: left ease-in-out 250ms;
  background: rgba($black, .9);

  @include at-least(nav) {
    position: static;
    margin-top: rem-calc(9); // align navigation w/ Grafana
    padding: 0;
    background: transparent;
  }

  &--open {
    left: 30%;

    @include at-least(small) {
      left: 50%;
    }

    @include at-least(nav) {
      left: auto;
    }

    .btn {
      width: 100%;
    }

    .site-nav__item {
      display: block;
    }

    .site-nav__item--text a, .site-nav__item--home a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: $font-size-alpha;
    }
  }
}

.site-nav {
  @include at-least(nav) {
    padding: rem-calc(30 0 0 0);
  }

  &--top {
    padding: 0;

    @include at-least(nav) {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      margin: rem-calc(5 0 15);

      .site-nav__link {
        font-size: $font-size-epsilon;
      }
    }

    .site-nav__link {
      color: $lighter-gray;
    }
  }
}

.site-nav__item {
  display: block;

  @include at-least(nav) {
    display: inline-block;
  }
}

.site-nav__social {
  display: none;
  @include at-least(nav) {
    display: block;
  }
}


// List
// -------------------------------------------------------------------------

.site-nav__item {
  display: inline-block;
  vertical-align: middle;

  .btn {
    margin: rem-calc(0 15);
  }

}

.site-nav__item--home {
  display: block;
  @include at-least(nav) {
    display: none;
  }

  a {
    font-weight: 800;
    color: $white;
    text-decoration: none;
  }
}

.site-nav__link {
  color: $off-white2;
  font-size: rem-calc(15);
  font-weight: 700;
  text-decoration: none;
  padding: rem-calc(7 15);

  &:hover {
    color: $primary-color !important;
  }

  &--highlight {
    color: $primary-color !important;
  }

  &--discrete {
    font-size: $font-size-epsilon;
    color: $lighter-gray !important;
  }

  &--loud {
    font-size: $font-size-epsilon;
    color: $off-white2 !important;
  }
}

.site-nav__btn {
  display: block;
}

.site-nav__social {
  @include hide-text;
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
}

.site-nav__social:hover {
  opacity: 1;
}

.site-nav__social.twitter {
  background: rgba(0,0,0,0.6) url(../../static/img/icon_twitter.svg) no-repeat center center;
  background-size: 80%;
}

.site-nav__social.github {
  background: rgba(0,0,0,0.6) url(../../static/img/icon_github.svg) no-repeat center center;
  background-size: 90%;
  margin-bottom: rem-calc(10);
}

// Toggle
// -------------------------------------------------------------------------

.site-nav__toggle {
  display: block;
  position: absolute;
  top: rem-calc(22);
  right: 0;
  width: rem-calc(40);
  height: rem-calc(40);
  padding: 0;
  float: right;
  border: 0;
  border-radius: rem-calc(4);
  outline: none;
  background: transparent;

  @include at-least(nav) {
    display: none;
    margin-top: rem-calc(15);
  }
}

.site-nav__toggle > .m,
.site-nav__toggle > .t,
.site-nav__toggle > .b {
  display: block;
  position: absolute;
  height: rem-calc(2);
  pointer-events: none;
}

.site-nav__toggle > .m {
  top: rem-calc(17);
  right: rem-calc(8);
  left: rem-calc(8);
  transition: opacity ease-in-out 125ms;
  background-color: $white;
  opacity: 1;
  transition-delay: 125ms, 0s;
}

.site-nav__toggle > .t,
.site-nav__toggle > .b {
  right: rem-calc(8);
  left: rem-calc(8);
  background-color: $white;
  content: '';
  transition-delay: 125ms, 0s;
  transition-duration: 125ms, 125ms;
}

.site-nav__toggle > .t {
  top: rem-calc(10);
  transition-property: top, transform;
}

.site-nav__toggle > .b {
  bottom: rem-calc(14);
  transition-property: bottom, transform;
}

.site-nav__toggle.nav-open > .m {
  opacity: 0;
  transition-delay: 0s, 125ms;
}

.site-nav__toggle.nav-open > .t,
.site-nav__toggle.nav-open > .b {
  background-color: $white;
  transition-delay: 0s, 125ms;
}

.site-nav__toggle.nav-open > .t {
  top: rem-calc(19);
  transform: rotate(45deg);
}

.site-nav__toggle.nav-open > .b {
  bottom: rem-calc(19);
  transform: rotate(-45deg);
}

// Menu Dropdown
// -------------------------------------------------------------------------

.site-nav-dropdown__menu {
  position: absolute;
  background: $page-header-bg;
  visibility: hidden;
	opacity: 0;
  transition: opacity 0.5s;
  top: 27px;
  left: 0;
  margin-top: 0;
  z-index: $z-index-6;
  min-width: rem-calc(240);
  border-radius: 4px;
  background: linear-gradient(135deg, #262626 0%, #161616 100%);
}

// show dropdown on hover
.site-nav__item--dropdown {
  position: relative;

  @include at-least(medium) {
    &:hover {
      .site-nav-dropdown__menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.site-nav-dropdown__toggle i {
  vertical-align: text-top;
  color: $light-gray;

  display: none;
  @include at-least(nav) {
    display: inline-block;
  }
}

.site-nav-dropdown__menu .site-nav__item {
  display: block;
  margin: 0;
  text-align: left;
}

.site-nav-dropdown__menu .site-nav__link {
  display: block;
}
