// ==========================================================================
// PRICING SLIDER
// ==========================================================================
.checks-slider {
  font-weight: 700;
  text-align: center;
  color: $off-white2;
}

.checks-slider--free {
  display: inline-block;
  width: 14%;
  background: linear-gradient(90deg, $gray 0%, $dark-gray 100%);
  color: $light-gray;
  height: 5rem;
  margin-right: rem-calc(3);
  margin-bottom: rem-calc(16);
  padding-top: 2rem;
  border-radius: 4px 0 0 4px;

  @include until(medium) {
    font-size: $font-size-epsilon;
  }
}

.checks-slider--pro {
  display: inline-block;
  width: 69%;
  background: linear-gradient(90deg, #f7ba00 0%, #d55900 100%);
  height: 5rem;
  margin-right: rem-calc(3);
  margin-bottom: rem-calc(16);
  padding-top: 2rem;

  @include until(medium) {
    font-size: $font-size-epsilon;
  }
}

.checks-slider--enterprise {
  display: inline-block;
  width: 15%;
  background: linear-gradient(90deg, #d55900 0%, #c83300 100%);
  height: 5rem;
  margin-bottom: rem-calc(16);
  padding-top: 2rem;
  border-radius: 0 4px 4px 0;

  @include until(medium) {
    font-size: $font-size-epsilon;
  }
}

.checks-slider-desc {
  color: $white;
  padding-bottom: rem-calc(24);
  margin-bottom: rem-calc(24);

  & .plan-name, .plan-price {
    margin: rem-calc(0);
    font-size: $font-size-mega;
    font-style: italic;
    weight: 700;

    small {
      font-size: 50%;
      font-weight: normal;

      &.currency {
        vertical-align: super;
      }
    }
    &--enterprise, &--starter {
      top: rem-calc(10);
    }
  }

  & .plan-capacity {
    margin: rem-calc(0);
    font-size: $font-size-beta
  }
}

.checks-slider-bullets {
  margin-top: rem-calc(0);
}

.checks-slider-emc {
  margin-bottom: rem-calc(20);
}

.rc-slider-track {
   background: linear-gradient(90deg, #ffb400 0%, #c83300 100%);
}

.rc-slider-mark {
  top: 24px;
}

.rc-slider-step {
  border-left: 3px solid #ffb400;
}

.rc-slider-handle {
  position: absolute;
  margin-left: -12px;
  margin-top: -10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 3px $primary-color;
  background-color: #fff;

  &:hover {
      border: solid 2px $primary-color;
  }
}

.rc-slider-handle-2 {

}

.rc-slider-handle-upper{

}

.rc-slider-dot-active {
  border-color: $white;
  background: rgba(255,255,255,0);
}

.rc-slider-mark-text {
    color: $off-white2;
    font-size: $font-size-delta;
    font-weight: 700;

    &-active {
    }
  }

.rc-slider-tooltip-inner {
  padding: 6px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
  box-shadow: 0 0 4px #d9d9d9;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {

  border-top-color: rgba(0,0,0,0.6);
}

// Animation

.plan-name--container {
  position: relative;
  min-height: rem-calc(50);
}

.plan-price--container {
  position: relative;
  min-height: rem-calc(72);
}

.plan-price--sub-copy {
  position: absolute;
  top: rem-calc(34);
}

.planimation {
  position: absolute;
}

.planimate-enter {
  opacity: 0.01;
}

.planimate-enter.planimate-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
}

.planimate-appear {
  opacity: 0.01;
}

.planimate-leave {
  opacity: 1;
}

.planimate-leave.planimate-leave-active {
  opacity: 0.01;
  transition: all 200ms ease-out;
}
