// ==========================================================================
// SVG Gradient Text
// ==========================================================================

.svg-gradient__get-grafana {
  height: 1.45em;
  width: 5em;
}

.svg-gradient-text:hover {
  fill: $primary-color;
}
