//
// two-column-hero
//

.two-column-hero {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacer*2;

  @include at-least(small) {
    flex-wrap: nowrap;
  }
}

.two-column-hero__text,
.two-column-hero__figure {
  position: relative;
  width: 100%;

  @include at-least(small) {
    width: 50%;
    padding: $spacer $spacer $spacer 0;
  }
}

.two-column-hero__text {
  order: 2;
  @include at-least(small) {
    order: 1;
  }
}

.two-column-hero__figure {
  margin: 0 0 rem-calc(20) 0;
  order: 1;
  > img {
    width: 100%;
    vertical-align: middle;
    &.border {
      border: 1px solid $gray;
    }
  }
  @include at-least(small) {
    margin: 0;
    order: 2;
  }
}

.two-column-hero__figure-with-caption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.two-column-hero__figure-caption {
  display: block;
  font-size: $font-size-epsilon;

}

.two-column-hero__heading {
  @extend .h3;
}

.two-column-hero__subheading {
  color: $off-white2;
  font-size: $font-size-beta;
  text-transform: uppercase;
}

.two-column-hero__paragraph {
  font-size: $font-size-beta;
  line-height: rem-calc(30);

  strong {
    color: $off-white;
  }
}

.two-column-hero__list {
  font-size: $font-size-gamma;
  margin-left: rem-calc(-24);
  color: $white;
}

.two-column-hero__video-container {
  border: 1px solid $gray;
  width: 100%;
  height: 327px;
  vertical-align: middle;
  text-align: center;
  padding: 150px 0
}
