// ==========================================================================
// COPY TO CLIPBOARD ANIMATION
// ==========================================================================

.updates-enter {
  opacity: 0.01;
  max-height: 0;
  overflow-y: hidden;
  transition: all 300ms ease-in;
}

.updates-enter.updates-enter-active {
  opacity: 1;
  max-height: 3rem;
}

.updates-appear {
  opacity: 0.01;
  max-height: 0;
  overflow-y: hidden;
  transition: all 200ms ease-in-out 300ms;
}

.updates-appear.updates-appear-active {
  opacity: 1;
  max-height: 3rem;
}

.updates-leave {
  opacity: 1;
  max-height: 3rem;
  overflow-y: hidden;
  transition: all 200ms ease-out;
}

.updates-leave.updates-leave-active {
  opacity: 0.01;
  max-height: 0;
}
