// ==========================================================================
// IN-PAGE VALUE BOX
// ==========================================================================

.value-box {
  background: url('../../static/img/polygon_texture_blue.jpg') 0 0 repeat;
  background-size: cover;
  padding: rem-calc(30 0);
  margin-bottom: rem-calc(100);
  box-shadow: $page-section-with-bg-pattern-shadow;
}

.value-box__content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include at-least(medium) {
    margin-left: rem-calc(64);
    flex-direction: row;
  }

}

.value-box__img {
  position: relative;
  display: none;

  @include at-least(medium) {
    display: block;
  }
}

.value-box__header {
  @extend .h4;
  font-style: normal;
  margin-bottom: $spacer*2;
}

.value-box__list {
  padding-left: 0;
  margin-bottom: $spacer;
  margin-right: $spacer*4;

  > li {
    list-style: none;
    margin: 0 auto rem-calc(10) rem-calc(35);
    position: relative;
    min-height: rem-calc(30);
    color: $white;

    &::before {
      font-family: 'grafana-icons';
      content: "\e603"; // .icon-gf-check-alt
      color: $success-color;
      font-size: 160%;
      margin-left: rem-calc(-40);
      position: absolute;
      top: -6px;
    }
  }
}

.value-box__copy {
  color: $white;
}
