// ==========================================================================
// WEB FONTS
// ==========================================================================



// Google Web Fonts
// -------------------------------------------------------------------------

@mixin pt-sans(
  $weight: normal,
  $style: normal) {

  font-family: 'PT Sans', sans-serif;
  font-weight: $weight;
  font-style: $style;
}
