<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

		<meta name="keywords" content="{{ with .Keywords }}{{ delimit . ","}}{{ else }}Grafana, Graphite, Dashboard, InfluxDB, OpenTSDB, Elasticsearch, Metrics, Editor, Composer, Analytics, Graphana, Prometheus, Cloudwatch{{end}}">
		<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}Grafana is the leading open source project for visualizing metrics. Supporting rich integration for every popular database like Graphite, Prometheus and InfluxDB.{{ end }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="shortcut icon" href="/assets/img/fav32.png" type="image/x-icon">

		<meta name="application-name" content="Grafana Labs" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@grafana">
		<meta name="twitter:url" content="https://twitter.com/grafana" />
		<meta name="twitter:title" content="{{ .Title }}">

		{{ if and ((.IsPage) (isset .Params "cover_image")) }}
			<meta name="twitter:image" content="{{ default "" (index .Params "cover_image") | absURL }}" />
			<meta property="og:image" content="{{ default "" (index .Params "cover_image") | absURL }}" />
		{{ else}}
			<meta name="twitter:image" content="https://grafana.com/img/home_panel_collage1.png" />
			<meta property="og:image" content="https://grafana.com/img/home_panel_collage1.png" />
		{{ end }}

		<meta property="og:site_name" content="Grafana Labs Blog" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ .Title }}" />

		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="Grafana Labs Blog" />
			<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="Grafana Labs Blog" />
		{{ end }}

		<!-- build:css /css/styles.js -->
		<link href="/css/styles.css" rel="stylesheet">
		<!-- endbuild -->

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

		<meta name="Copyright" content="Grafana Labs" />

		{{ if and .IsPage  (eq .Type "docs") }}
			<link rel="canonical" href="http://docs.grafana.org{{ .RelPermalink }}" />
		{{ end }}

		<!-- build:js /js/app.bundle.js -->
		<script src="/js/app.bundle.js" defer></script>
		<!-- endbuild -->

		<script>
			window.bootData = {
				pageType: "{{ if .IsPage }}{{ .Type }}{{ end }}",
			};

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-58328364-4', 'auto');
			ga('require', 'linkid', 'linkid.js');
			ga('send', 'pageview', {
				'page': location.pathname + location.search  + location.hash,
			});
		</script>
	</head>

	{{ if and .IsPage  (eq .Type "docs") }}
		<body class="section-docs">
	{{ else }}
		<body class="section-blog">
	{{ end }}

	{{ partial "navbar.html" . }}

	<div class="main">


