<div class="sign-up-box sign-up-box--aside">
	<div class="wrapper">
		<div class="sign-up__content">
			<div class="sign-up__img">
				<img src="/img/claimed_asteroid--no-hanger.svg" />
			</div>

			<div class="sign-up-box__heading">Get a Grafana.com account</div>
			<ul class="sign-up-box__list">
				<li>Dashboards and plugins</li>
				<li>Subscribe to our newsletter</li>
				<li>Access our hosted platform.</li>
			</ul>
			<a class="btn btn--primary sign-up-box__btn" href="https://grafana.com/get?signup">Sign up now</a>
		</div>
	</div>
</div>
