// ==========================================================================
// PAGE
// ==========================================================================



.page {
  position: relative;
}

.page__content {
  position: relative;
  padding-top: $page-content-top-padding;

  &--no-padding {
    padding-top: 0;
  }

  &--with-breadcrumbs {
    padding-top: $spacer;
  }
}

// Hero
// -------------------------------------------------------------------------

.page-section.page-section--hero {
  padding: rem-calc(20 0 50);
  background-color: $color-page-hero-bg;
  background-image: linear-gradient(135deg, rgba($black, .41) 0%, rgba($color-page-hero-bg, 0) 75%), linear-gradient(to right, rgba($black, .41) 0%, rgba($color-page-hero-bg, 0) 75%);
  box-shadow: inset 100px 100px 260px -70px rgba(0,0,0,1);
  text-align: center;
}

.page-section--hero .page-section__subhead {
  @include at-least(large) {
    padding: 0 10%;
  }
}


// page section paragraph
.page-section__paragraph {
  margin-bottom: rem-calc(30);
}

.page-section__paragraph--lead {
  @extend .h5;
}

// Section
// -------------------------------------------------------------------------

.page-section {
  padding: rem-calc(20 0 0 0);
}

.page-section__padded {
  padding: rem-calc(20 0);
}

.page-section__headline {
  margin: rem-calc(0 0 16 0);
  padding: rem-calc(15 0);
  color: $white;
  font-size: $font-size-kilo;
  font-style: italic;
  font-weight: 400;
  text-align: center;

  @include at-least(small) {
    padding: rem-calc(30 0);
    font-size: $font-size-mega;
  }
}

.page-section__headline-img {
  display: block;
  margin: 0 auto rem-calc(20);
  &--huge {
    width: 50%;
    margin-top: rem-calc(70);
    margin-bottom: rem-calc(50);
  }
}

.page-section__headline--hr {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: rem-calc(1);
    background: $orange-gradient;
    content: '';
  }
}

.page-section__headline--hr--bottom-margin {
  margin-bottom: 3.125rem;
}

.page-section__margin-bottom {
  margin-bottom: rem-calc(50);
}


.page-section__properties--hr {
  position: relative;
  width: 70%;
  margin: rem-calc(20) auto;
  padding: rem-calc(20 0);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: rem-calc(1);
    background: $orange-gradient;
    content: '';
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: rem-calc(1);
    background: $orange-gradient;
    content: '';
  }

  img {
    margin: rem-calc(0 40);
  }
  h5 {
    margin: 0;
    padding: 0;
    color: $white;
  }
}

.page-section__subhead {
  margin: rem-calc(0 0 50);
  font-size: rem-calc(18);
  font-weight: 400;
  line-height: rem-calc(30);
}

.page-section__subhead > strong {
  color: $white;
  font-weight: 700;
}

.page-section__callout {
  h3 {
    font-size: $font-size-alpha;
    font-style: italic;
    font-weight: 400;
    color: $white;
  }
  p {
    margin: rem-calc(0 0 24 0);
    font-size: $font-size-gamma;
    color: $white;
    font-weight: 400;
  }
}

.page-section__title > b,
.page-section__headline > b,
.page-section__subhead > b {
  color: $primary-color;
  font-weight: 400;
}

.page-section__title {
  @extend .h4;
}

.page-section__title2 {
  @extend .h5;
}

.page-section__subtitle {
  margin: -($spacer/2) 0 $spacer 0;
  font-size: $font-size-gamma;
  color: $white;
  font-weight: 400;

  &--short-rag {
    max-width: 850px;
  }
}

h3.page-section__title {
   font-size: $font-size-h3;
}

h4.page-section__title {
  font-size: $font-size-alpha;
}

.page-section__title--with-copy {
  margin-bottom: rem-calc(5);
}

.page-section__sub-copy {
  font-size: rem-calc(15);
  color: $white;
  margin-top: 0;
  margin-bottom: rem-calc(15);
  display: block;
}

.page-section__note {
  font-size: 90%;
  strong {
    color: $white;
  }
}

.page-section__note-icon {
  margin-left: rem-calc(5);
  vertical-align: middle;
}

.page-section__title .btn {
  font-style: initial;
}

.page-section__center-padded {
  text-align: center;

  @include at-least(small) {
    padding: rem-calc(0 50);
  }
}

// Main background areas
// -------------------------------------------------------------------------

.page-section--main {
  background: url('../../static/img/background_polygon_pattern.png') 0 0px no-repeat;
  background-size: 55%;
}

.page-section--secondary {
  background: url('../../static/img/background_polygon_pattern.png') 0 350px no-repeat;
  background-size: 55%;
}

.page-section--tertiary {
  background: url('../../static/img/background_polygon_pattern.png') 0 -550px no-repeat;
  background-size: 55%;
}

.page-section--no-bg {
  background: none;
}

.page-section--gray-subsection1 {
  background-color: $gray;
  background-size: cover;
  margin-bottom: $spacer * 3;
  box-shadow: $page-section-with-bg-pattern-shadow;
}

.page-section--darkgray-subsection1 {
  background: linear-gradient(to bottom, darken($darker-gray, 3%) 0%, darken($darker-gray, 1%) 100%);
  background-size: cover;
  margin-bottom: $spacer * 3;
}

.page-section--polygon-subsection1 {
  background: url('../../static/img/polygon_texture_blue.jpg') 0 0 repeat;
  background-size: cover;
  padding: rem-calc(30 0);
  margin-bottom: $spacer * 3;
  box-shadow: $page-section-with-bg-pattern-shadow;
}

.page-section--polygon-subsection2 {
  background: url('../../static/img/polygon_texture_black.jpg') 0 0 repeat;
  background-size: cover;
  padding: rem-calc(30 0);
  margin-bottom: $spacer * 3;
  box-shadow: $page-section-with-bg-pattern-shadow;
}

// To allow preceeding section to crash into the bottom (used for callout boxes)
// -------------------------------------------------------------------------
.page-section--no-bottom {
  margin-bottom: 0px;
}

// Body
// -------------------------------------------------------------------------

.page-body {
}

.page-content {
  color: $white;
  font-size: rem-calc(14);
}

.page-sidebar {
  text-align: left;
}

.page-sidebar--left {
  @extend .col--sm-first;
}

.page-sidebar--right {
  @extend .col--sm-last;
}

.page-sidebar h4,
.page-sidebar h5 {
  margin: rem-calc(0 0 10);
  font-size: rem-calc(16);
  line-height: rem-calc(24)
}

.page-sidebar h4 {
  color: $white;
  font-weight: 400;
}

.page-sidebar .ui-list {
  margin: rem-calc(0 0 20);
  @include at-least(small) {
    margin: rem-calc(0 0 40);
  }

  font-size: rem-calc(14);
  > li > label > b {
    color: $primary-color;
  }
}

.page-sidebar button {
  margin: rem-calc(0 0 20);
  @include at-least(small) {
    margin: rem-calc(0 0 40);
  }
}

.sidebar-subnav--active {
  a {
    font-weight: 600;
  }
}

.page-sidebar--copy-section {
  margin-top: rem-calc(40);
  h4 {
    margin-bottom: 0;
  }
}

.page-sidebar--copy {
  max-width: rem-calc(225);
  margin-top: 0;
  color: $medium-gray;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
}
