// ==========================================================================
// PAGE HEADER
// ==========================================================================

.page-header {
  height: $page-header-height-small;
  background: $page-header-bg;
  box-shadow: 0px 0px 20px black;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 100px 100px 260px -70px black;
    z-index: -10;
  }

  &--home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    box-shadow: none;

    @include at-least(nav) {
      background: transparent;
    }
  }

  @include at-least(nav) {
    height: $page-header-height-large;
  }
}

.page-header__menu {
  position: relative;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

// Logo
// -------------------------------------------------------------------------

.site-logo {
  width: rem-calc(208);
  height: rem-calc(34);
  margin: rem-calc(30 0 0 0 );
  position: relative;
  top: rem-calc(-7);

  @include at-least(nav) {
    width: rem-calc(240);
    height: rem-calc(50);
    top: rem-calc(-2);
  }

  > img {
    display: block;
    width: 100%;
    height: auto;
  }
}
