<div class="row text-center">
		<script async defer src="https://buttons.github.io/buttons.js"></script>

    <div class="hero-social">
			<span class="github-social">
				<a class="github-button" data-style="mega" href="https://github.com/grafana/grafana" data-icon="octicon-star" data-count-href="/grafana/grafana/stargazers" data-count-api="/repos/grafana/grafana#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star grafana/grafana on GitHub">Star</a>
				<a class="github-button" data-style="mega" href="https://github.com/grafana/grafana/fork" data-icon="octicon-repo-forked" data-count-href="/grafana/grafana/network" data-count-api="/repos/grafana/grafana#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork grafana/grafana on GitHub">Fork</a>

        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.c6def25548e9590b13abaa1b3330b811.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fgrafana.org%2F&amp;size=l&amp;text=Grafana%20-%20Beautiful%20Metrics%2C%20Analytics%2C%20dashboards%20and%20monitoring!&amp;time=1475401894288&amp;type=share&amp;url=http%3A%2F%2Fgrafana.org" style="position: static; visibility: visible; width: 76px; height: 28px;" data-url="http://grafana.org"></iframe>&nbsp;
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.c6def25548e9590b13abaa1b3330b811.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=grafana&amp;show_count=false&amp;show_screen_name=true&amp;size=l&amp;time=1475401894286" style="position: static; visibility: visible; width: 140px; height: 28px;" data-screen-name="grafana"></iframe>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>
    </div>
</div>
