<ul class="tabs gf-tabs" data-tab role="tablist">
	<li class="gf-tabs-item active">
		<a class="gf-tabs-link" href="#panel1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel1">
			Highlights
		</a>
	</li>
	<li class="gf-tabs-item">
		<a class="gf-tabs-link" href="#panel2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2">
			Fixes
		</a>
	</li>
	<li class="gf-tabs-item">
		<a class="gf-tabs-link" href="#panel3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel3">
			Breaking Changes
		</a>
	</li>
</ul>

