{{ partial "header.html" . }}

<div class="page-letterhead">
	<div class="wrapper">
		<h1 class="page-letterhead__heading">Blog Archive</h1>
		<h2 class="page-letterhead__subheading">
			News, announcements, articles, metrics & monitoring love...
			<a class="blog-rss-link" href="{{ .RSSLink }}" type="application/rss+xml" target="_blank">
				RSS <i class="fa fa-rss"></i>
			</a>
		</h2>
	</div>
</div>

<div class="wrapper">
	<div class="row row--no-gutters">
		<div class="col col--md-9">
			<article role="article">
				<div id="blog-archives" class="category">
					{{ range (where .Site.Pages "Type" "blog").GroupByDate "2006" }}
					<h3>
						{{ .Key }} <!-- print publish year -->
					</h3>
					<ul id="list">
						{{ range .Pages }}
						<article class="blog-archive-item">
							<h5>
								<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
							</h5>

							<div style="margin-bottom: 15px; position: relative; top: -10px;">
								by {{ .Params.author }} published on {{ .Date.Format "2 Jan 2006" }}
							</div>
						</article>
						{{ end }}
					</ul>
					{{ end }}
				</div>
			</article>
		</div>
		<div class="col col--md-3">
			<div class="blog-aside">
				{{ partial "sign-up-aside.html" . }}
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
